    </main>
    <footer>
    <div class="footer-content">
        <div class="footer-brand">
            <h3>Тикетница</h3>
            <p>Внутренняя система управления заявками Miranda Media.</p>
        </div>

        <div class="footer-contacts" id="contacts">
            <h4>Контакты</h4>
            <p>+7 (978) 123-45-67</p>
            <p>+7 (800) 555-35-35</p>
            <p>support@miranda-media.ru</p>
        </div>

        <div class="footer-address">
            <h4>Адрес</h4>
            <p>г. Симферополь</p>
            <p>ул. Киевская, 77</p>
            <p>Пн–Пт, 9:00–18:00</p>
        </div>
    </div>

    <hr>

    <div class="footer-bottom">
        <p>© 2025 Miranda Media. Все права защищены.</p>
    </div>
</footer>
</body>
</html>