<%- include ('head') %>
<h2>Последние выезды</h2>
<ul>
    <% visits.forEach(visit => { %>
        <li><%= new Date(visit.visit_date).toLocaleString('ru-RU') %></li>
        <% }) %>
    </ul>
    
<%- include ('foot') %>